.skill {
  text-align: center;
}

.skill_range_outer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill_range_inner{
  box-sizing: border-box;
  padding: 1.5rem;
  width: 20%;
  ul {
    text-align: left;
    li {
      margin-bottom: 20px;
      span {
        margin-top: 0.2rem;
        display: block;
        width: 100%;
        height: 10px;
        background-color: #e0e0e0;
      }
    }
  }
}


.skill_range_inner span:after {
  content: "";
  display: block;
  height: 10px;
  background: $main-color;
  background: linear-gradient(to right, $sub-color , $sub-color);
}

.otherSkills {
  ul {
    li {
      margin-bottom: 5px;
    }
  }
}

.skill_range_inner .twentyFive:after {
  width: 25%;
}

.skill_range_inner .fifty:after {
  width: 50%;
}

.skill_range_inner .seventyFive:after {
  width: 75%;
}

.skill_range_inner .hundred:after {
  width: 100%;
}

.skill-set .otherSkills li{
  margin-bottom: 0.4rem;
}