.skill {
  text-align: center;
}

.skill__jump {
  margin: 1.5rem;
  height: 40px;
  width: 300px;
  overflow: hidden;
  display: inline-block;
  background-color: #fff;
  border: 1px solid $sub-color;
  transition: background 0.5s ease;
  position: relative;
  &:hover {
    .skill__jump__url {
      color: #fff;
    }
    .skill__jump__bubble {
      opacity: 1;
      transform: scale(18);
    }
  }
  .skill__jump__bubble {
     transition: transform 0.5s ease,
                 opacity 0.5s ease;
  }
}

.skill__jump__url {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  padding: 20px 0;
  width: 100%;
  color: #2455a9;
  transition: color 0.5s ease;
}

.skill__jump__bubble {
  z-index: 0;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: $sub-color;
}


.skill_range_outer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill_range_inner{
  box-sizing: border-box;
  padding: 1.5rem;
  width: 20%;
  ul {
    text-align: left;
    li {
      margin-bottom: 20px;
      span {
        margin-top: 0.2rem;
        display: block;
        width: 100%;
        height: 10px;
        background-color: #e0e0e0;
      }
    }
  }
}


.skill_range_inner span:after {
  content: "";
  display: block;
  height: 10px;
  background: $main-color;
  background: linear-gradient(to right, $sub-color , $sub-color);
}

.otherSkills {
  ul {
    li {
      margin-bottom: 5px;
    }
  }
}

.skill_range_inner .twentyFive:after {
  width: 25%;
}

.skill_range_inner .fifty:after {
  width: 50%;
}

.skill_range_inner .seventyFive:after {
  width: 75%;
}

.skill_range_inner .hundred:after {
  width: 100%;
}

.skill-set .otherSkills li{
  margin-bottom: 0.4rem;
}